.container {
    background-color: #FFFFFF;
    border: 2px solid black;
    width: 100vw;
    height: 900px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 15px; */
}

.hero {
    height: 70%;
    /* height: 50%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
}

.footer {
    /* height: 30%; */
    height: 50%;
    background-color: #D9D9D9;
}

.leftHero {
    width: 50%;
    height: 100%;
}

.rightHero {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.rightHero img {
    /* max-width: 100%; */
    /* max-height: 100%; */
    border-radius: 24px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.heroText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 51%;
    height: 90%;
    margin-top: 3%;
    margin-left: 24%;
}

.section_1 {
    text-align: center;
    margin-bottom: 20px;
}

.section_2 h2{
    font-family: Poppins;
    font-weight: 600;
    color: #0C1421;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 10px;
}
.section_2 p{
    font-family: Poppins;
    font-weight: 400;
    color: #313957;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
}

.section_3 {
    display: flex;
    flex-direction: column;
}

.section_3 button:hover {
  background-color: #e57800;
}

label {
    color: #0C1421;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 3px;
}

input {
    border: 1px solid #00000066;
    border-radius: 100px;
    padding: 8px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

input::placeholder {
    font-family: Poppins;
    font-weight: 400;
    color: #8897AD;
    font-size: 16px;
    padding-left: 5px;
}

button {
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FC8A06;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    border: none;
}

.section_4 {
    text-align: center;
}
.section_4 p {
    font-family: Poppins;
    font-weight: 400;
    color: #313957;
    font-size: 18px;
    line-height: 16px;
    margin-bottom: 10px;
}

.section_4 span {
    color: #FC8A06;
    cursor: pointer;
}

.footer_1 {
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_2 {
    background-color: #03081F;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_2 p {
    font-family: Poppins;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 16px;
    cursor: pointer;
}


.footer_1_1 p {
    font-family: Poppins;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    line-height: 16px;
}

.footer_1_1 {
    width: 30%;
    padding-left: 80px;
}

.footer_2_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.footer_button button {
    background-color: #000000;
    width: 175px;
    height: 60px;
    color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 1px;
}

.footer_button img {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    /* margin-right: 10px; */
    /* padding-bottom: 5px; */
    
}

.footer_button p {
    color: #FFFFFF;
    display: inline-block;

}

.footer_button span {
    font-weight: 600;
    font-size: large;
    line-height: 1;
}

.footer_container {
    display: flex;
    justify-content: space-around;
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    /* flex-wrap: wrap; */
    width: 70%;
  }
  
  .footer_section {
    /* flex: 1; */
    min-width: 250px;
    margin: 50px;
  }

  .footer_section:nth-of-type(2) {
    min-width: 170px;
  }
  .footer_section:nth-of-type(3) {
    min-width: 170px;
  }
  
  .footer_section h4 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 700;
  }
  
  .subscription_form {
    display: flex;
    align-items: center;
  }
  
  .subscription_form input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 50px;
    outline: none;
    flex: 1;
    background-color: #cbcaca;
    
  }

  .subscription_form input::placeholder {
    color: #00000099;
    font-weight: 400;
  }
  
  .subscription_form button {
    padding: 10px 20px;
    border: none;
    background-color: #FC8A06;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 50px;
    font-size: 18px;
  }
  
  .subscription_form button:hover {
    background-color: #e57800;
  }
  
  .footer_section p {
    font-size: 15px;
    color: #03081F;
    margin: 10px 0;
    /* line-height: 40px; */
    font-weight: 400;
  }
  
  .footer_section a {
    color: #03081F;
    font-weight: 400;
    font-size: 15px;
    text-decoration: underline;
    
  }
  
  .footer_section a:hover {
    text-decoration: underline;
  }
  
  .social_icons {
    margin-top: 10px;
  }
  
  .social_icons a {
    margin-right: 10px;
    display: inline-block;
  }
  
  .social_icons img {
    width: 45px;
    height: 45px;
  }
  
  .footer_section ul {
    list-style: none;
    /* padding: 0; */
  }
  
  .footer_section ul li {
    margin-bottom: 10px;
  }
  
  .footer_section ul li a {
    color: #000000;
    text-decoration: underline;
    font-size: 15px;
    font-weight: 400;
  }
  
  .footer_section ul li a:hover {
    text-decoration: underline;
  }

